<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">La plateforme SKRID</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item <%= currentPage === 'home' ? 'active' : '' %>">
          <a class="nav-link" href="/">SKRID</a>
        </li>
        <li class="nav-item <%= currentPage === 'collections' ? 'active' : '' %>">
          <a class="nav-link" href="/collections">Les collections</a>
        </li>
	 <li class="nav-item <%= currentPage === 'interface' ? 'active' : '' %>">
          <a class="nav-link" href="/interface">Rechercher un motif</a>
        </li>
        <li class="nav-item <%= currentPage === 'references' ? 'active' : '' %>">
          <a class="nav-link" href="/references">Références et liens</a>
        </li>
        <li class="nav-item <%= currentPage === 'plus' ? 'active' : '' %>">
          <a class="nav-link" href="/plus">En savoir plus</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

