<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>The Skrid Platform</title>
    <!-- CSS -->
    <link rel="stylesheet" href="./styles/semantic.min.css" />
    <link rel="stylesheet" href="./styles/search_interface_style.css" />
    <link rel="stylesheet" href="./styles/general_style.css" />
    <link rel="stylesheet" href="./styles/collections_style.css" />
    <link rel="stylesheet" href="./styles/paginated_results.css" />

    <!-- CSS Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    <!-- JS Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Verovio -->
    <script src="https://www.verovio.org/javascript/latest/verovio-toolkit-wasm.js" defer></script>

    <!-- Javascript of the page -->
    <!-- <script type="text/javascript" src="./scripts/preview_scores.js"></script> -->
    <!-- <script type="module" src="./scripts/preview_scores.js"></script> -->
    <!-- <script type="text/javascript" src="./scripts/collection_script.js"></script> -->
    <script type="module" src="./scripts/collection_script.js"></script>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<%- include('./partials/header', { currentPage: 'collections' }); %>
<body>
  <div class="searchbar-box">
    <h1 class="searchbar-title">Les collections</h1>
  </div>
  <div class="father_container">
    <div class="collections">
      <div class="collections-title"> 
        Sélectionner une collection :
      </div>
      <div class="collections-list">
        <% for(var i = 0; i < authors.length; i++) { %>
          <div class="collection-item" onClick="authorButtonHandler('<%= authors[i] %>')">
            <%= authors[i] %>
          </div>
        <% } %>
      </div>
    </div>
  
    <div class="archives">
      <br/>
      <p id="archives"></p>
      <br/>
      Explorer le contenu des fichiers : <br/>
      <%- include('./partials/paginated_results.ejs'); %>
    </div>
  </div>
  
  <div id="authors" style="display: none;">
    <%= JSON.stringify(authors) %>
  </div>
</body> 
<%- include('./partials/footer'); %>
</html>
