<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>The Skrid Platform</title>
    <!-- CSS -->
    <link rel="stylesheet" href="./styles/semantic.min.css" />
    <link rel="stylesheet" href="./styles/home_style.css" />
    <link rel="stylesheet" href="./styles/general_style.css" />
    <link rel="stylesheet" href="./styles/collections_style.css" />

    <!-- CSS Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    <!-- JS Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Verovio -->
    <script src="http://www.verovio.org/javascript/latest/verovio-toolkit-wasm.js" defer></script>

    <!-- Javascript of the page -->
    <script type="text/javascript" src="./scripts/script-collections.js"></script>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<%- include('./partials/header', { currentPage: 'collections' }); %>
<body>
  <div class="searchbar-box">
    <h1 class="searchbar-title">Les collections : visualiser et t&eacute;l&eacute;charger</h1>
  </div>
  <div class="father_container">
  <div class="collections">
    Les collections :<br/><br/>
    <p class="separator"> <hr/> </p>
      <% for(var i = 0; i < authors.length; i++) { %>
        <a href="#" onClick="getCollectionByAuthor(this.innerText)"><%= authors[i] %></a><br>
        <% if (i != authors.length - 1) { %>
          <p class="separator"> <hr/> </p>
        <% } %>
    <% } %>
        <p class="separator"> <hr/> </p>
    </div>
    <div class="items">
	        T&eacute;l&eacute;charger les fichier sous la forme d'une archive : <br/>
      <% if(results.length != 0) { %>
        <div class="results-container">
          <% for(var i = 0; i < results.length; i++) { %>
            <!--<a class="score-preview" href="/result?author=<%= results[i]._fields[0].properties.composer.substring(13).slice(0, -6) %>&score_name=<%= results[i]._fields[0].properties.source %>"></a>-->
            <a class="score-preview" href="/result?author=<%= results[i]._fields[0].properties.collection %>&score_name=<%= results[i]._fields[0].properties.source %>">
              <div class="music-score-box" id="<%= results[i]._fields[0].properties.source %>">
              </div>
              <h3 class="score_title"><%= results[i]._fields[0].properties.source.slice(0,-4) %></h3>
            </a>
          <% } %>
        </div>
      <% } else {%>
        <p>No result found</p>
      <% } %>
    </div>
  </div>
  <div id="data" style="display: none;">
    <%= JSON.stringify(results) %>
  </div>
</body> 
<%- include('./partials/footer'); %>
</html>