<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>The Skrid Platform</title>

    <!-- CSS -->
    <link rel="stylesheet" href="./styles/semantic.min.css" />
    <link rel="stylesheet" href="./styles/home_style.css" />
    <link rel="stylesheet" href="./styles/general_style.css" />
    <link rel="stylesheet" href="./styles/paginated_results.css" />
    
    <!-- CSS Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    <!-- JS Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Vexflow for the music notes -->
    <script src="https://unpkg.com/vexflow/releases/vexflow-debug.js"></script>

    <!-- Verovio for the svg representation of the scores previews -->
    <script src="https://www.verovio.org/javascript/latest/verovio-toolkit-wasm.js" defer></script>

    <!-- Javascript of the page -->
    <!-- <script type="text/javascript" src="./scripts/home_script.js"></script> -->
    <script type="module" src="./scripts/home_script.js"></script>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<%- include('./partials/header', { currentPage: 'interface' }); %>
<body>
  <div class="searchbar-box">
    <h1 class="searchbar-title">Rechercher dans le contenu des partitions</h1>
  </div>
  <!--
  <div class="container">
    <div class="search-pattern">
      <h1>Rechercher l'occurrence d'une chaîne de caract&egrave;res</h1>
    <form action="/search" method="GET">
      <input type="text" name="query" placeholder="Indiquez ici une syllabe, un bout de titre, ...">
      <button type="submit">Recherche</button>
    </form>
  </div>
  </div>
  -->
  <div class="container">
    <div class="search-pattern">
      <h1>Rechercher un motif musical</h1>
      <div id="music-score"></div>
      <div class="clear_buttons">
        <button class='stave_buttons', id='clear_all'>Supprimer tout</button>
        <button class='stave_buttons', id='clear_last_note'>Supprimer la dernière note</button>
        <button class='stave_buttons' id="play_melody">Jouer la mélodie</button>
      </div>
      <div class="wrapper">
        <header>
          <h2>Utilisez le piano pour d&eacute;finir le motif musical</h2>
          <div class="column volume-slider">
            <span>Volume</span><input type="range" min="0" max="1" value="0.5" step="any">
          </div>
          <div class="column keys-checkbox">
            <span>Touches</span><input type="checkbox" checked>
          </div>
        </header>
        <ul class="piano-keys">
          <li class="key white" data-key="C4"><span>DO(C)</span><br><span>q</span></li>
          <li class="key black" data-key="C#4"><span>DO#(c#) z</span></li>
          <li class="key white" data-key="D4"><span>RE(D)</span><br><span>s</span></li>
          <li class="key black" data-key="D#4"><span>RE#(D#) e</span></li>
          <li class="key white" data-key="E4"><span>MI(E)</span><br><span>d</span></li>
          <li class="key white" data-key="F4"><span>FA(F)</span><br><span>f</span></li>
          <li class="key black" data-key="F#4"><span>FA#(F#) t</span></li>
          <li class="key white" data-key="G4"><span>SOL(G)</span><br><span>g</span></li>
          <li class="key black" data-key="G#4"><span>SOL#(G#) y</span></li>
          <li class="key white" data-key="A4"><span>LA(A)</span><br><span>h</span></li>
          <li class="key black" data-key="A#4"><span>LA#(A#) u</span></li>
          <li class="key white" data-key="B4"><span>SI(B)</span><br><span>j</span></li>
          <li class="key white" data-key="C5"><span>DO(C)</span><br><span>k</span></li>
          <li class="key black" data-key="C#5"><span>DO#(C#) o</span></li>
          <li class="key white" data-key="D5"><span>RE(D)</span><br><span>l</span></li>
          <li class="key black" data-key="D#5"><span>RE#(D#) p</span></li>
          <li class="key white" data-key="E5"><span>MI(E)</span><br><span>m</span></li>
          <li class="key white" data-key="F5"><span>FA(F)</span><br><span>ù</span></li>
          <li class="key black" data-key="F#5"><span>FA#(F#) )</span></li>
          <li class="key white" data-key="G5"><span>SOL(G)</span><br><span>*</span></li>
          <li class="key black" data-key="G#5"><span>SOL#(G#) $</span></li>
          <li class="key white" data-key="A5"><span>LA(A)</span></li>
          <li class="key black" data-key="A#5"><span>LA#(A#)</span></li>
          <li class="key white" data-key="B5"><span>SI(B)</span></li>
        </ul>
        <div class='below-keyboard'>
          <div class='extra-keys'>
            <button data-key='r' id='silence-bt'><span>Silence (b)</span></button>

            <button class='rhythm-modif-bt' data-key='w' id='whole-bt'><img src='public/notes_pics/1.png' height=50px alt='Whole'></button>
            <button class='rhythm-modif-bt' data-key='hd' id='half-dotted-bt'><img src='public/notes_pics/2d.png' height=50px alt='Dotted half'></button>
            <button class='rhythm-modif-bt' data-key='h' id='half-bt'><img src='public/notes_pics/2.png' height=50px alt='Half'></button>
            <button class='rhythm-modif-bt' data-key='qd' id='quarter-dotted-bt'><img src='public/notes_pics/4d.png' height=50px alt='Dotted quarter'></button>
            <button class='rhythm-modif-bt' data-key='q' id='quarter-bt'><img src='public/notes_pics/4.png' height=50px alt='Quarter'></button>
            <button class='rhythm-modif-bt' data-key='8d' id='8th-dotted-bt'><img src='public/notes_pics/8d.png' height=50px alt='Dotted 8-th'></button>
            <button class='rhythm-modif-bt' data-key='8' id='8th-bt'><img src='public/notes_pics/8.png' height=50px alt='8-th'></button>
            <button class='rhythm-modif-bt' data-key='16d' id='16th-dotted-bt'><img src='public/notes_pics/16d.png' height=50px alt='Dotted 16-th'></button>
            <button class='rhythm-modif-bt' data-key='16' id='16th-bt'><img src='public/notes_pics/16.png' height=50px alt='16-th'></button>
            <button class='rhythm-modif-bt' data-key='32d' id='32th-dotted-bt'><img src='public/notes_pics/32d.png' height=50px alt='Dotted 32-th'></button>
            <button class='rhythm-modif-bt' data-key='32' id='32th-bt'><img src='public/notes_pics/32.png' height=50px alt='32-th'></button>

            <button class='octave-modif' data-key='<' id='octave-minus'><span>Octave - (x)</span></button>
            <button class='octave-modif' data-key='>' id='octave-plus'><span>Octave + (c)</span></button>
            <label id='octave-lb'>4</label>
          </div>
        </div>
      </div>
      <br>
      <label for="collections">(Facultatif) Collections dans lesquelles rechercher : </label>
      <select id="collections" name="collections">
        <option value='-'>All</option>
        <% for(var j = 0; j < authors.length; j++) { %>
          <option value='<%= authors[j] %>'><%= authors[j] %></option>
        <% } %>
      </select>
      <br>
      <label>Collections sélectionnées (par d&eacute;faut, toutes les collections) :</label>
      <ol id="selected-collections"></ol>
      <div class="options-row">
        <input type="radio" id="check1" name="check1">
        <label for="check1">Correspondance exacte (rythme et hauteurs des notes)</label>
        <input type="radio" id="check2" name="check2" checked>
        <label for="check2">Correspondance des hauteurs de notes seulement (sans tenir compte du rythme)</label>
        <input type="radio" id="check3" name="check3">
        <label for="check3">Correspondance du rythme seulement (sans tenir compte de la mélodie)</label>
        <input type="radio" id="check4" name="check4">
        <label for="check4">Correspondance exacte sans tenir compte de l'octave</label>
        <!--<input type="radio" id="check5" name="check5">
        <label for="check5">Correspondance approximative (proportion rythmique)</label> -->
        <button id="send-button">Recherche</button>
      </div>
    </div>
    <div class="container_2">
        <%- include('./partials/paginated_results.ejs'); %>
    </div>
  </div>
</body> 
<%- include('./partials/footer'); %>
</html>
