<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>The Skrid Platform</title>

    <!-- CSS -->
    <link rel="stylesheet" href="./styles/semantic.min.css" />
    <link rel="stylesheet" href="./styles/home_style.css" />
    <link rel="stylesheet" href="./styles/general_style.css" />
    
    <!-- CSS Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    <!-- JS Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Vexflow for the music notes -->
    <script src="https://unpkg.com/vexflow/releases/vexflow-debug.js"></script>

    <!-- Verovio for the svg representation of the scores previews -->
    <script src="https://www.verovio.org/javascript/latest/verovio-toolkit-wasm.js" defer></script>

    <!-- Javascript of the page -->
    <!-- <script type="text/javascript" src="./scripts/home_script.js"></script> -->
    <script type="module" src="./scripts/home_script.js"></script>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<%- include('./partials/header', { currentPage: 'interface' }); %>
<body>
  <div class="searchbar-box">
    <h1 class="searchbar-title">Rechercher dans le contenu des partitions</h1>
  </div>
  <!--
  <div class="container">
    <div class="search-pattern">
      <h1>Rechercher l'occurrence d'une chaîne de caract&egrave;res</h1>
    <form action="/search" method="GET">
      <input type="text" name="query" placeholder="Indiquez ici une syllabe, un bout de titre, ...">
      <button type="submit">Recherche</button>
    </form>
  </div>
  </div>
  -->
  <div class="container">
    <div class="search-pattern">
      <h1>Rechercher un motif musical</h1>
      <div id="music-score"></div>
      <div class="clear_buttons">
        <button class="clear_all">Supprimer tout</button>
        <button class="clear_last_note">Supprimer la dernière note</button>
      </div>
      <label for="collections">(Facultatif) Collections dans lesquelles rechercher : </label>
      <select id="collections" name="collections">
        <option value='-'>All</option>
        <% for(var j = 0; j < authors.length; j++) { %>
          <option value='<%= authors[j] %>'><%= authors[j] %></option>
        <% } %>
      </select>
      <br>
      <label>Collections sélectionnées (par d&eacute;faut, toutes les collections) :</label>
      <ol id="selected-collections"></ol>
      <div class="options-row">
        <input type="radio" id="check1" name="check1">
        <label for="check1">Correspondance exacte (rythme et hauteurs des notes)</label>
        <input type="radio" id="check2" name="check2" checked>
        <label for="check2">Correspondance des hauteurs de notes seulement (sans tenir compte du rythme)</label>
        <input type="radio" id="check3" name="check3">
        <label for="check3">Correspondance du rythme seulement (sans tenir compte de la mélodie)</label>
        <input type="radio" id="check4" name="check4">
        <label for="check4">Correspondance exacte sans tenir compte de l'octave</label>
        <!--<input type="radio" id="check5" name="check5">
        <label for="check5">Correspondance approximative (proportion rythmique)</label> -->
        <button id="send-button">Recherche</button>
      </div>
      <div class="wrapper">
        <header>
          <h2>Utilisez le piano pour d&eacute;finir le motif musical</h2>
          <div class="column volume-slider">
            <span>Volume</span><input type="range" min="0" max="1" value="0.5" step="any">
          </div>
          <div class="column keys-checkbox">
            <span>Touches</span><input type="checkbox" checked>
          </div>
        </header>
        <ul class="piano-keys">
          <li class="key white" data-key="C4"><span>DO(C)</span></li>
          <li class="key black" data-key="C#4"><span>DO#(c#)</span></li>
          <li class="key white" data-key="D4"><span>RE(D)</span></li>
          <li class="key black" data-key="D#4"><span>RE#(D#)</span></li>
          <li class="key white" data-key="E4"><span>MI(E)</span></li>
          <li class="key white" data-key="F4"><span>FA(F)</span></li>
          <li class="key black" data-key="F#4"><span>FA#(F#)</span></li>
          <li class="key white" data-key="G4"><span>SOL(G)</span></li>
          <li class="key black" data-key="G#4"><span>SOL#(G#)</span></li>
          <li class="key white" data-key="A4"><span>LA(A)</span></li>
          <li class="key black" data-key="A#4"><span>LA#(A#)</span></li>
          <li class="key white" data-key="B4"><span>SI(B)</span></li>
          <li class="key white" data-key="C5"><span>DO(C)</span></li>
          <li class="key black" data-key="C#5"><span>DO#(C#)</span></li>
          <li class="key white" data-key="D5"><span>RE(D)</span></li>
          <li class="key black" data-key="D#5"><span>RE#(D#)</span></li>
          <li class="key white" data-key="E5"><span>MI(E)</span></li>
          <li class="key white" data-key="F5"><span>FA(F)</span></li>
          <li class="key black" data-key="F#5"><span>FA#(F#)</span></li>
          <li class="key white" data-key="G5"><span>SOL(G)</span></li>
          <li class="key black" data-key="G#5"><span>SOL#(G#)</span></li>
          <li class="key white" data-key="A5"><span>LA(A)</span></li>
          <li class="key black" data-key="A#5"><span>LA#(A#)</span></li>
          <li class="key white" data-key="B5"><span>SI(B)</span></li>
        </ul>
      </div> 
    </div>
    <div class="container_2">
      <% if(results.length != 0) { %>
        <div class="results-container">
          <% for(var i = 0; i < results.length; i++) { %>
            <!--<a class="score-preview" href="/result?author=<%= results[i]._fields[0].properties.composer.substring(13).slice(0, -6) %>&score_name=<%= results[i]._fields[0].properties.source %>">-->
            <!-- <a class="score-preview" href="/skrid/result?author=<%= results[i]._fields[0].properties.collection %>&score_name=<%= results[i]._fields[0].properties.source %>"> -->
            <a class="score-preview" href="/result?author=<%= results[i]._fields[0].properties.collection %>&score_name=<%= results[i]._fields[0].properties.source %>">
              <div class="music-score-box" id="<%= results[i]._fields[0].properties.source %>">
              </div>
              <h3 class="score_title"><%= results[i]._fields[0].properties.source.slice(0,-4) %></h3>
              <!--<p class="score_author">Auteur : <%= results[i]._fields[0].properties.composer.substring(13).slice(0, -6) %></p>-->
              <p class="score_author">Collection : <%= results[i]._fields[0].properties.collection %></p>
            </a>
          <% } %>
        </div>
      <% } else {%>
        <p>No result found</p>
      <% } %>
    </div>
  </div>
  <div id="data" style="display: none;">
    <%= JSON.stringify(results) %>
  </div>
</body> 
<%- include('./partials/footer'); %>
</html>
